In [2]:
a=[1,3,4,5,6]
print(a)
print(a[0],a[1],a[2],a[3],a[4])

[1, 3, 4, 5, 6]
1 3 4 5 6

In [3]:
from array import *
array_num = array('i', [1,3,5,7,9])
for i in array_num:
    print(i)
print("Access first three items individually")
print(array_num[0])
print(array_num[1])
print(array_num[2])
print(array_num[3])
print(array_num[4])

1
3
5
7
9
Access first three items individually
1
3
5
7
9

In [62]:
a=[56,7,8,9]
print("original array:",a)
print("reversed array:")
for i in range(len(a)):
    print(a[::-1])

original array: [56, 7, 8, 9]
reversed array:
[9, 8, 7, 56]
[9, 8, 7, 56]
[9, 8, 7, 56]
[9, 8, 7, 56]

In [10]:
from array import*
a=([1,2,3,4])
print("array element is:",a)
arr=a[::-1]
print("reversed array is:",arr)

array element is: [1, 2, 3, 4]
reversed array is: [4, 3, 2, 1]

In [23]:
#array dividing
import numpy as np
a=np.array([1,2,3,4,5,6])
newarry=np.array_split(a,2)
print(newarry)

[array([1, 2, 3]), array([4, 5, 6])]

In [24]:
#avg

def cal_average(num):
    sum_num=0
    for t in num:
        sum_num = sum_num + t
    avg = sum_num / len(num)
    return  avg
print("the avg is", cal_average([20,30,40,50,60,70]))

the avg is 45.0

In [36]:
#second last large
a=([1,2,3,4,60,50,200])
new_arr =a
new_arr.remove(max(new_arr))
print(max(new_arr))

60

In [37]:
#largest valu
a=[1,3,4,67,5,2]
print(max(a))

67

In [38]:
#minimum 
a=[1,3,4,67,5,2]
print(min(a))

1

In [39]:
#present element in an array
arry=[2,3,4,6,7,8,9,0]
print("prenst in the elemnt of an array is:",arry)

prenst in the elemnt of an array is: [2, 3, 4, 6, 7, 8, 9, 0]

In [3]:
def SplitArray(arr, n, k):
    for i in range(0, k):
        x = arr[0]
        for j in range(0, n-1):
            arr[j] = arr[j + 1]
            arr[n-1] = x 
            arr = [15, 40, 15, 16, 50, 36]
            n = len(arr)
            position = 2
            SplitArray(arr, n, position)
            for i in range(0, n):
                print(arr[i], end = ' ')

In [53]:
#duplicate 
 
a= [10,20,30,40,50]
newarry=a
print(newarry)

[10, 20, 30, 40, 50]

In [18]:
#odd or even posittion
a= [31, 42, 13, 34, 85, 0, 99, 1, 3]
print("The array is :",a)
print("The elements in odd positions are : ")
for i in range(1, len(a), 2):
    print(a[i])
print("The elements in even positions are : ")
for i in range(2, len(a), 1):
    print(a[i])

The array is : [31, 42, 13, 34, 85, 0, 99, 1, 3]
The elements in odd positions are :
42
34
0
1
The elements in even positions are :
13
34
85
0
99
1
3

In [11]:
#slicing
arry = [1, 7, 3, 2, 0, 9, 50]
print(arry[6::-1])

[50, 9, 0, 2, 3, 7, 1]

In [14]:
#removal
a=[1,2,4,5]
a.pop(3)
print(a)

[1, 2, 4]

In [22]:
#converting array to list
import numpy as np
arr = np.array([1, 2, 3])
print(f'NumPy Array:{arr}')

list1 = arr.tolist()
print(f'List: {list1}')

NumPy Array:[1 2 3]
List: [1, 2, 3]

In [23]:
a=[1,2,34,5,6,7]
print("length od array is:",len(a))

length od array is: 6

In [24]:
#adding element
a=[2,3,4,5]
a.append(11)
print(a)

[2, 3, 4, 5, 11]

In [28]:
#adding element in second posi
a=[1 2 3 5 6]
a.insert(1,10)
print(a)

SyntaxError: invalid syntax (Temp/ipykernel_13192/127195720.py, line 2)

In [8]:
 
arr =([1,2,3])
#print(f'NumPy Array:{arr}')
arr.insert(1,11)
print(arr)

[1, 11, 2, 3]