In [1]:
a=(10,20)
b=(10,20)
c=(20,10)
a==b

True

In [2]:
a==c

False

In [3]:
d=(20.0,10.0)
c==d

True

In [4]:
t1=(10,20,30)
print(t1)

(10, 20, 30)

In [7]:
det t1
print(t1)

SyntaxError: invalid syntax (Temp/ipykernel_9368/3327455212.py, line 1)

In [8]:
salary=(1000,1500,800,700,1200)
min(salary)

700

In [9]:
fruits=("mango","pineapple","apple","carrot")
min(fruits)

'apple'

In [10]:
t1=(10,20,30,(40,50),90)
min(t1)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [12]:
salary.index(800)

2

In [13]:
salary.index(5000)

ValueError: tuple.index(x): x not in tuple

In [14]:
val=(10,20,30,20,10,60,80,20)
val.count(20)

3

In [15]:
val.count(80)

1

In [16]:
val.count(100)

0

In [19]:
tup=tuple()
print(tup)

()

In [20]:
tup=tuple("quick brow fox")
print(tup)

('q', 'u', 'i', 'c', 'k', ' ', 'b', 'r', 'o', 'w', ' ', 'f', 'o', 'x')

In [21]:
tup=tuple([1,20,40])
print(tup)

(1, 20, 40)

In [22]:
tup=tuple({1:"one",2:"two"})
print(tup)

(1, 2)

In [23]:
val=(10,20,30)
a,b,c=val
b=30
val=(a,b,c)
print(val)

(10, 30, 30)

In [24]:
foods=("rice","dosa","idili","mushroom","paneer")
myfood=list(foods)
myfood[2]="biryani"
food=tuple(myfood)
print(food)

('rice', 'dosa', 'biryani', 'mushroom', 'paneer')

In [25]:
t=(1,2,3,4,5,7)
print(t)

(1, 2, 3, 4, 5, 7)

In [26]:
t=(20,)
print(t)

(20,)

In [36]:
tup=tuple("shemi",[30,40])
print(tup)

TypeError: tuple expected at most 1 argument, got 2

In [30]:
val=(10,40,30)
a,b,c=val
b=500
val=(a,b,c)
print(val)

(10, 500, 30)

In [35]:
tup=tuple("shameema")
print(tup)

('s', 'h', 'a', 'm', 'e', 'e', 'm', 'a')

In [40]:
t1=("I LOVE INDIA")
t1=t1*100
print(t1)

I LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIAI LOVE INDIA

In [42]:
item=[10,20,30,40]
t2=tuple(item)
print(t2)

(10, 20, 30, 40)

In [47]:
tup=('s','h','a','m','e','e','m','a')
tup="".join(tup)
print(tup)

shameema

In [49]:
list=[1,2,3]
list="".join(tup)
print(list)

shameema

In [51]:
T1=(10,20,30,20,30,40,100)
len(T1)

7

In [52]:
t=(1,2,3,4,5,6,7,8)
print(t[::-1])
print(t)

(8, 7, 6, 5, 4, 3, 2, 1)
(1, 2, 3, 4, 5, 6, 7, 8)

In [59]:
tuples=[('shemi',1),('faru',2)]
result=dict(tuples)
print(result)

{'shemi': 1, 'faru': 2}

In [60]:
#slicing
a=(2,45,7,8,90)
print(a[-1])
print(a[0])
print(a[::-2])

90
2
(90, 7, 2)

In [61]:
#list to tuple
list=[1,4,6]
tup=tuple(list)
tup

(1, 4, 6)