In [3]:
T=()
print(T)

()

In [12]:
T=3,
print(T)

(3,)

In [5]:
T=(100,)
print(T)

(100,)

In [6]:
T=(1,2,3,4,5)
print(T)

(1, 2, 3, 4, 5)

In [8]:
len(T)
print(T)

(1, 2, 3, 4, 5)

In [9]:
T1=(10,20,30,(20,30,40),100)
len(T1)

5

In [10]:
T1[1]

20

In [11]:
t=tuple('fathima shameema')
print(t)

('f', 'a', 't', 'h', 'i', 'm', 'a', ' ', 's', 'h', 'a', 'm', 'e', 'e', 'm', 'a')

In [17]:
items=[100,200,300]
T2=tuple(items)
print(T2)

(100, 200, 300)

In [19]:
T1=tuple(input('enter element'))
print(T1)

enter elementrahees
('r', 'a', 'h', 'e', 'e', 's')

In [20]:
t1=(2,3,30,50)
t2=('a','d','c')
t3=t1+t2
print(t3)

(2, 3, 30, 50, 'a', 'd', 'c')

In [21]:
t1+20
print(t1)

TypeError: can only concatenate tuple (not "int") to tuple

In [24]:
t1=(10,20,30,40)
t1=t1+(50,)
print(t1)

(10, 20, 30, 40, 50)

In [26]:
t1=("do","go")
t1=t1*6
print(t1)

('do', 'go', 'do', 'go', 'do', 'go', 'do', 'go', 'do', 'go', 'do', 'go')

In [27]:
data=(10,20,30,40,50,60,70,80)
data2 = data[4:-4]
print(data2)
print(data[1:6])
print(data[4:-2])
print(data[-40:4])
print(data[::-1])
print(data[::-2])
print(data[2:10:2])

()
(20, 30, 40, 50, 60)
(50, 60)
(10, 20, 30, 40)
(80, 70, 60, 50, 40, 30, 20, 10)
(80, 60, 40, 20)
(30, 50, 70)

In [28]:
tp1=(11,12,15,20,8,9,10)
seql=tp1[::2]
seql=tp1[5::2]
tp1[2:5]*4

(15, 20, 8, 15, 20, 8, 15, 20, 8, 15, 20, 8)